/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

body{
  height: 100vh;
  font-family:'Josefin Sans', sans-serif;
}

.content-page{
  padding: 20px;
}


img{
  max-width: 100%;
  height: auto;
}

/* Reusable class */
.title{
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  
  color: var(--Black);
   margin: 30px 0;
}

/* Section banner */
.banner{
  width: 100%;
  height: 60vh;
  background: url('images/mobile/image-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}

.banner h1{
  color: var(--White);
  border: 1px solid var(--White);
  padding: 20px;
  font-size: 2rem;
  text-align: left;
}

/* Demonstration */
.description{
  font-family: 'Alata', sans-serif;
  color: var(--Dark-Gray);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}

/* Section creations */
.creations{
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
} 

.seeAll-btn{
  position: absolute;
  z-index: 1;
  bottom: -20px;
  border: 1px solid black;
  padding: 10px 30px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 30px;
}

.seeAll-btn:hover{
  background: var(--Black);
  color: var(--White);
}


.creations-img{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  position: relative;
  padding-bottom: 50px;
}


.creation-card{
  position: relative;
}

.creation-card::after{
  content: '';
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent 40%, #000b);
}

.creation-card:hover::after{
  background: linear-gradient(180deg, #fffa 40%, #555a);
}

.creation-card h3{
  position: absolute;
  color: var(--White);
  bottom: 35px;
  left: 20px;
  text-transform: uppercase;
  font-weight: 100;
}

/* Footer */
footer{
  width: 100%;
  background: var(--Black);
  margin-top: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.footer-links{
  margin: 20px;
}

.footer-links ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links li{
  margin: 10px 0;
}

.footer-links li a{
  color: var(--White);
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-social img{
  margin: 0 10px;
}

.footer-copy{
  color: var(--Dark-Gray);
  display: inline-block;
  font-size: 1rem;
  margin: 20px 0;
  text-align: center;
}

.attribution{
  color: var(--White);
}

.attribution a{
  color: red;
}